client
nobind
dev {{ openvpn_client_dev }}
key-direction 1
remote-cert-tls server

remote {{ openvpn_client_remote }} {{ openvpn_client_remote_port }}
proto {{ openvpn_client_remote_protocol }}

<key>
{{ openvpn_client_key }}
</key>
<cert>
{{ openvpn_client_cert }}
</cert>
<ca>
{{ openvpn_ca }}
</ca>
<tls-auth>
{{ openvpn_tls }}
</tls-auth>
key-direction 1

auth-nocache
comp-lzo
reneg-sec 259200